spring:
  profiles:
    active:
      - dev
---
server:
  port: 8201

spring:
  profiles: dev
  application:
    name: microconfig-test-client

eureka:
  client:
    serviceUrl:
      defaultZone: http://admin:enjoy@localhost:7011/eureka
    register-with-eureka: false

info:
  app.name: microcloud-config-client-dev
  company.name: enjoy1111
---
server:
  port: 8102

spring:
  profiles: test
  application:
    name: microconfig-test-client5

eureka:
  client:
    serviceUrl:
      defaultZone: http://admin:enjoy@localhost:7011/eureka
    register-with-eureka: false

info:
  app.name: microcloud-config-client-test
  company.name: enjoy